<div class="demo-card-container">
  <ul class="toc">
    <div class="tocHeader">Additional Resources</div>
    <li><a href="https://material.io/guidelines/components/cards.html" target="_blank">Material Guidelines</a></li>
    <li><a href="https://tylertechnologies.atlassian.net/wiki/spaces/UP/pages/89952420/Card" target="_blank">UX Patterns</a></li>
  </ul>

  <div class="containerX">
    <div [fxLayout]="direction" style="cursor: pointer;" fxLayoutAlign="space-between stretch" fxLayout.xs="column" fxLayout.sm="column"
      fxLayoutGap="50px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0px">
      <div fxFlex="30">
        <h1>Guidelines</h1>
        <p>Input text can be used with autocomplete to help users who have limited literacy or who write in a foreign language. For example, autocomplete can:</p>
<ul>
<li>Suggest input as it’s typed (refreshing suggestions with each keystroke)</li>
<li>Fill a field with default input text</li>
</ul>
<p>Pressing the return button accepts the current autocomplete suggestion.</p>

      </div>
      <div fxFlex="35">
        <h1>Screenshots</h1>
        <md-grid-list cols="3" rowHeight="200px">
          <md-grid-tile *ngFor="let screenshot of screenshots">
            <img [alt]="screenshot.name" src="https://material.angularjs.org/material2_assets/ngconf/{{screenshot.name}}.png">
            <md-grid-tile-footer>
              <h3 md-line>{{screenshot.name}}</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>


      </div>
      <div fxFlex="35">
        <h1>Examples</h1>
          Space above cards: <input type="number" [formControl]="topHeightCtrl">
<div [style.height.px]="topHeightCtrl.value"></div>
<div class="demo-autocomplete">
  <md-card>
    Reactive length: {{ reactiveStates.length }}
    <div>Reactive value: {{ stateCtrl.value | json }}</div>
    <div>Reactive dirty: {{ stateCtrl.dirty }}</div>

    <md-input-container floatPlaceholder="never">
      <input mdInput placeholder="State" [mdAutocomplete]="reactiveAuto" [formControl]="stateCtrl">
    </md-input-container>

    <md-card-actions>
      <button md-button (click)="stateCtrl.reset()">RESET</button>
      <button md-button (click)="stateCtrl.setValue(states[10])">SET VALUE</button>
      <button md-button (click)="stateCtrl.enabled ? stateCtrl.disable() : stateCtrl.enable()">
        TOGGLE DISABLED
      </button>
    </md-card-actions>
  </md-card>

  <md-card>
    <div>Template-driven value (currentState): {{ currentState }}</div>
    <div>Template-driven dirty: {{ modelDir?.dirty }}</div>

    <!-- Added an ngIf below to test that autocomplete works with ngIf -->
    <md-input-container *ngIf="true">
      <input mdInput placeholder="State" [mdAutocomplete]="tdAuto" [(ngModel)]="currentState"
        (ngModelChange)="tdStates = filterStates(currentState)" [disabled]="tdDisabled">
    </md-input-container>

    <md-card-actions>
      <button md-button (click)="modelDir.reset()">RESET</button>
      <button md-button (click)="currentState='California'">SET VALUE</button>
      <button md-button (click)="tdDisabled=!tdDisabled">
        TOGGLE DISABLED
      </button>
    </md-card-actions>

  </md-card>
</div>

<md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
  <md-option *ngFor="let state of reactiveStates | async" [value]="state">
    <span>{{ state.name }}</span>
    <span class="demo-secondary-text"> ({{state.code}}) </span>
  </md-option>
</md-autocomplete>

<md-autocomplete #tdAuto="mdAutocomplete">
  <md-option *ngFor="let state of tdStates" [value]="state.name">
    <span>{{ state.name }}</span>
  </md-option>
</md-autocomplete>
      </div>
    </div>
  </div>
</div>