body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mat-sidenav {
    min-width: 240px;

    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 10px 10px 10px 10px;
    max-width: 1096px;
    box-sizing: border-box;
  }

 @media screen and (min-width: 767px) {
  .demo-content {
    padding: 32px 32px 32px 76px;
    max-width: 1300px;
    box-sizing: border-box;
  }
 }
  

  .mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    color: #283593;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

// stretch to screen size in fullscreen mode
.demo-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.componentToolbar {
  height: 135px;
  background-color: #f5f5f5;
  padding: 32px 32px 32px 76px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    text-shadow: transparent 0px 0px 0px, rgba(0,0,0,0.68) 0px 0px 0px !important;
  }

}

ul.toc {
  border-left: 5px solid; 
  border-left-color: #283593; 
  list-style: none;
  padding-left: 20px;
  margin-bottom: 40px;
}

ul.toc li {
  font-size: 20px;
  line-height: 40px;
}

ul.toc li a {
  text-decoration: none;
  color: inherit;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li {
font-size: 13px;
    line-height: 24px;
    margin: 0 0 .5em;
    max-width: 760px;
    word-wrap: break-word;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.tocHeader {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 12px;
    font-weight:500;
    color: #757575;  
}

.example-spacer {
  flex: 1 1 auto;
}

p {
    color: #212121;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 .5em;
    word-wrap: break-word;
}

#spacer {
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 80px;
    margin-bottom: 80px;
}

#spacer-no-line {
    height: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 16px;
    color: #212121;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
    max-width: 760px;
}

h4 {
 font-size: 13px; 
 margin-bottom: 3px;
 color: #212121;
 font-weight: 500;
 line-height: 24px;
 max-width: 760px;
 margin-top: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.s-tag-table {
    background-color: #fff;
    font-size: 13px;
    table-layout: auto;
    width: 100%;
    margin-bottom: 40px;
    table-layout: auto;
}

table.s-tag-table tr:first-child {
    background-color: #fafafa;
    font-weight: 500;
}

table.s-tag-table tr td:first-child {
    border-left: 1px solid #e5e5e5;
}

table.s-tag-table tr:first-child td {
    border-top: 1px solid #e5e5e5;
}

table.s-tag-table td {
    border: 1px solid #eee;
    line-height: 24px;
    padding: 12px 12px 12px 24px;
    color: #212121;
    vertical-align: middle;
}

table.s-tag-table tr:first-child td p {
    color: #757575;
}

table.s-tag-table tr td:last-child {
    border-right: 1px solid #e5e5e5;
}

table.s-tag-table tr:first-child td {
    border-top: 1px solid #e5e5e5;
}

table.s-tag-table td {
    border: 1px solid #eee;
    line-height: 24px;
    padding: 12px 12px 12px 24px;
    color: #212121;
    vertical-align: middle;
}

strong {
    font-weight: 600;
}

.do {
    border-top: 15px solid;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-color: #4caf50;
    color: #2e7b32;
}

.do-text-color {
  color: #2e7b32;
}

.dont {
    border-top: 15px solid;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-color: #d32f2f;
    color: #d32f2f;
}

.dont-text-color {
  color: #d32f2f;
}

img {max-width:100%;}